img{
  vertical-align:bottom;
}

.retry{
  background: #fff;
  border: 1px solid #ffffff;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.game-info {
  
}